body {
    background-color: #01514B;
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }

h1 {
    font-size: 150px;
    color: #5D8B88;
    font-family: amboy-black, sans-serif;
    font-weight: 400;
    font-style: normal;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    float: right;
    margin-right: 0px;
}

a {
    font-family: amboy-black, sans-serif;
    font-size: 72px;
    font-weight: 400;
    font-weight: normal;
    color: #00050B;
    list-style-type: none;
    /* transform: rotate(-90deg); */
}

a:link {
  text-decoration: none;
}

a:hover {
  color:#5D8B88;
}


#projects {
    transform: rotate(-90deg);
    margin-left: -120px;
    position: absolute;
    margin-top: 130px;
    text-decoration: underline;
}

#about {
    transform: rotate(-90deg);
    margin-left: -64px;
    position: absolute;
    margin-top: 425px;
}

#home {
    transform: rotate(-90deg);
    margin-left: -51px;
    position: absolute;
    margin-top: 655px;
}

.projects {
  font-family: alegreya-sans, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #FFFFFF;
  position: absolute;
  font-size: 20px;
}

.p1 {
  margin-left: 140px;
  position: absolute;
  margin-top: 420px;
  width: 80px;
}

.p2 {
  margin-left: 524px;
  position: absolute;
  margin-top: 194px;
  width: 80px;
}

.p3 {
  margin-left: 908px;
  position: absolute;
  margin-top: 643px;
  width: 80px;
}

.parent { 
  display: grid;
  grid-template-columns: repeat(3, 380px) repeat(2, 1fr);
  grid-template-rows: repeat(6, 200px);
  grid-column-gap: 5px;
  grid-row-gap: 25px;
  margin-left: 140px;
  }
  .div1 { 
    grid-area: 1 / 1 / 3 / 2; 
    background-color: #F62C28;
  } 
  .div2 { 
    grid-area: 1 / 2 / 2 / 3; 
    background-color: #E77A1B;
  } 
  .div3 { 
    grid-area: 2 / 2 / 4 / 3; 
    background-color: #5680B2;
  } 
  .div4 { 
    grid-area: 3 / 1 / 6 / 2; 
    background-color: #5680B2;
  } 
  .div5 { 
    grid-area: 1 / 3 / 4 / 4; 
    background-color: #F62C28;
  } 
  .div6 { 
    grid-area: 4 / 3 / 5 / 4; 
    background-color: #E77A1B;
  } 
  .div7 { 
    grid-area: 5 / 3 / 7 / 4;
    background-color: #5680B2;
   } 
  .div8 { 
    grid-area: 4 / 2 / 7 / 3;
    background-color: #F62C28;
   } 
  .div9 { 
    grid-area: 6 / 1 / 7 / 2; 
    background-color: #E77A1B;
  } 